<h1>Favorites:</h1>
<% @favorites.each do |favorite| %>
  <p>Name: <%= favorite.name %></p>
  <p>Decription: <%= favorite.descrip %></p>
  <p>Borough: <%= favorite.borough %></p>
  <p>Location: <%= favorite.descrip %></p> 
  <hr> 
<% end %>